{% extends 'todo/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card shadow-sm">
            <div class="card-body">
                <h1 class="card-title">{{ title }}</h1>
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="mb-3">
                        {{ form.title.label_tag }}
                        {{ form.title }}
                        {% if form.title.errors %}
                            <div class="invalid-feedback d-block">{{ form.title.errors.0 }}</div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {{ form.description.label_tag }}
                        {{ form.description }}
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ form.priority.label_tag }}
                            {{ form.priority }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form.due_date.label_tag }}
                            {{ form.due_date }}
                        </div>
                    </div>
                    <button class="btn btn-success" type="submit">Save task</button>
                    <a class="btn btn-link" href="{% url 'todo:home' %}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
